* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background-color: black;
    color: white;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
}

nav {
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 99;
    padding: 25px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.nav-left {
    height: 83px;
    overflow: hidden;
}

.nav-left svg {
    display: block;
    font-size: 3vw;
}

nav .nav-right {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    overflow: hidden;
}


.nav-right .nav-links a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    margin-left: 40px;
    font-family: Helvetica;
    position: relative;
    transition: all 0.25s linear 0.25s;
}

.nav-right .nav-links a::before {
    content: "";
    width: 100%;
    border-bottom: 1px solid #000000;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: all 0.25s linear 0.25s;
}

.nav-right .nav-links a:hover:before {
    transform: scaleX(1);
    color: rgba(160, 158, 158, 0.842);
}

.nav-right .nav-links a:hover {
    color: rgba(160, 158, 158, 0.842);
}

.nav-right .nav-icons {
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav-right .nav-icons i {
    color: #333;
    font-size: 14px;
    gap: 10px;
    text-align: center;
    padding: 9px;
    transition: all 0.25s linear 0.25s;
}

.nav-right .nav-icons i:hover {
    transform: rotate(-10deg);
    background-color: #f7f7f7;
    border-radius: 25px;
}


.page1 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 0 25px;
    padding-top: 200px;
}

.page1 h1 {
    font-size: 15vw;
    font-family: futura;
    letter-spacing: -2px;
    line-height: 13vw;
    margin-top: 1.5rem;
    text-wrap: nowrap;
}

.img-container {
    height: 100vh;
    background-color: blue;
    margin-top: 1rem;
    overflow: hidden;
    margin-bottom: 80px;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    top: 0;
    left: 0;
    scale: 1.5 1.5;
}


.breakline {
    font-family: Helvetica;
    margin: 10px 30px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.75rem;
}


.page2 {
    min-height: 100vh;
    width: 100%;
    /* background-color: gray; */
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 10px;
}


.page2 .elem {
    height: 100%;
    width: 30%;
    /* background-color: red; */
    overflow: hidden;
    position: relative;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.page2 .elem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    top: 0;
    left: 0;
    scale: 1.3 1.3;
}

.elem .img-bag {
    height: 50px;
    width: 70%;
    position: absolute;
    border-radius: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.img-bag .bag-details {
    background: #744F4D;
    padding: 0 32px;
    width: 303px;
    height: 50px;
    border-radius: 25px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.06em;
    line-height: .9em;
    z-index: 2;
}

.bag-details h4 {
    font-family: Helvetica;
    font-weight: 700;
}

.bag-details .Dot {
    width: 8px;
    height: 8px;
    background: currentColor;
    border-radius: 50%;
}


.page3 {
    width: 100%;
    /* min-height: 100vh; */
    background-color: #f7f7f7;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 80px 20px;
}

.page3 .left {
    width: 60%;
}

.page3 .left h1 {
    font-size: 4.4vw;
    font-weight: 600;
    font-family: Futura;
    letter-spacing: -2px;
    line-height: 4.4vw;
    text-transform: uppercase;
}

.page3 .right {
    width: 35%;
    padding: 0px 40px;
    padding-right: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page3 .right p {
    /* width: 80%; */
    font-family: Helvetica;
    font-weight: 500;
    font-size: 1.2vw;
    margin-bottom: 30px;
    line-height: 1.7vw;
    letter-spacing: 0.5px;
}

.btn {
    width: 60%;
}

.btn:hover #btn::before {
    transform: translate(110%);
    background-color: antiquewhite;
}

.page3 .right .btn #btn {
    width: 60%;
    font-family: Helvetica;
    font-size: 0.8vw;
    text-transform: uppercase;
    color: rgba(20, 20, 20, 0.815);
    margin-bottom: 0;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.page3 .right .btn #btn::before {
    content: "";
    background-color: rgba(41, 41, 41, 0.795);
    padding: 0.8px 55px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.25s linear 0.25s;
}

.page4 {
    min-height: 120vh;
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
    margin: 100px 0;
}

.cursor {
    width: 250px;
    height: 250px;
    transform: translate(-50%, -50%);
    opacity: 0;
    scale: 0;
    background-color: #ffffff;
    position: fixed;
    border-radius: 50%;
}

.product {
    min-height: 55vh;
    padding: 10px 5px;
    width: 45vw;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 50px;
    z-index: 2;
    background-color: transparent;
}

.product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: transparent;
}

.product .img-details {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: transparent;
}

.product .img-details h4 {
    font-size: 1vw;
    letter-spacing: 1px;
    line-height: 3vh;
    font-weight: 100;
    font-family: Helvetica;
    background-color: transparent;
}

.page5 {
    min-height: 100vh;
}

footer {
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 80px 50px 30px;
    font-family: Helvetica, sans-serif;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    border-bottom: 1px solid #333;
    padding-bottom: 50px;
    margin-bottom: 30px;
}

.footer-col {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-col h3,
.footer-form h3 {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 10px;
    color: #888;
}

.footer-col a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.footer-col a:hover {
    color: #888;
}

.footer-form {
    max-width: 400px;
}

.footer-form p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #888;
}

.input-group {
    display: flex;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
}

.input-group input {
    background: transparent;
    border: none;
    color: #fff;
    padding: 10px 0;
    width: 100%;
    outline: none;
    font-size: 16px;
}

.input-group button {
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    padding: 0 10px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: #555;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.bottom-links {
    display: flex;
    gap: 20px;
}

.bottom-links a {
    color: #555;
    text-decoration: none;
}

.bottom-links a:hover {
    color: #fff;
}